html,
 body {
   background-color: #4caf50;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
 }

  .content {
   color: white;
   text-align: center;
  }

   .message {
    color: white;
    text-align: center;
   }
