h1 {
    color: green;
    text-align: center;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.container {
   display: flex;
   justify-content: center;
}

.btn {
    background-color: green;
    margin: auto;
    border: 3px green;
    width: 50%;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

#about {
    font-size: large;
    color: darkgreen;
    text-align: center;
}
